.Auth {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px rgb(131, 69, 69);
    box-sizing: border-box;
}

.Input {
    display: block;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}